/* Custom styles for the big header */

body {
    background-color:black;
}

.hide {

    display: none;
}

/* set the video as page background */
.backgroundVideo-container {
	z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

#backgroundVideo {
    width: 100%;
    height: 100%;
    object-fit: contain;
	
}

.landing-page {
	position: absolute;
    width: 100%;
    height: 100%;
}

#title-container {
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
	user-select: none;
}

@keyframes title-blink {
	0%   {color: red;}
	100% {color: white;}
}

@keyframes title-grow {
	0%   {font-size:0px;}
	100% {font-size:100px;}
}

@keyframes title-rotate {
	100% {transform:rotate(360deg);}
}
/*
animation:	<animation-name>
			<animation-duration>
			<animation-timing-function>
			<animation-delay>
			<animation-iteration-count>
			<animation-direction>
			<animation-fill-mode>
			<animation-play-state>;
*/
#title-text {
	font-family: 'Courier New', Courier, monospace;
	font-size:100px;
	color: white;
	text-align: center;

	animation:	title-grow ease-in 4s,
				title-rotate linear 0.2s 20,
				title-blink 0.1s 4s 10;
}

@keyframes button-fade {
	0% {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
	100% {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
}

/* Center the content over the video */
.button-container {
    position: relative;
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    opacity: 0;
    visibility: hidden;
    pointer-events: none; /* Initially disable interaction */
    animation: button-fade 1s ease-in 5s forwards;
}
/* Custom button styles */
.btn-custom {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none; /* Remove default border */
    border-radius: 30px; /* Rounded corners */
    transition: background-color 0.1s ease, transform 0.1s ease; /* Smooth transition */
}

/* Gradient background */
.btn-gradient {
    background: linear-gradient(45deg, #ff6a00, #ee0979); /* Gradient colors */
    color: white; /* Text color */
}

/* Hover effect */
.btn-gradient:hover {
    transform: scale(1.2); /* Slightly scale the button on hover */
    background: linear-gradient(45deg, #ee0979, #ff6a00); /* Inverted gradient on hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}
