<div class="profilePage neon-border">
	
	<div class="profileInfo">
		<h1>Greetings, {{ username }}!</h1>
		<img id="bigProfilePicture" src="{{ profile_pic }}" width="300" height="300" class="rounded-circle" onerror="this.onerror=null; this.src='/media/default.jpg';">
		<div class="motto-box">
			<p id="mottoDisplay" class="mottoText">{{ motto }}</p>
		</div>
	</div>
	
	<div class="profileStats">
		
		<h1>Stats</h2>
		<div class="statsCharts d-flex justify-content-center ms-4 me-4 mt-4">
			<div class="wrapper me-3">
				<canvas id="chart1"></canvas>
			</div>
			<div class="wrapper">
				<canvas id="chart2"></canvas>
			</div>
		</div>
		
		<h1 class="mt-5">Game History</h2>
		<table class="pongTable ms-4 me-4 mt-4 table table-bordered table-auto table-hover table-dark">
			<thead>
				<tr>
					<th scope="col">Date</th>
					<th scope="col">Time</th>
					<th scope="col">Game Type</th>
					<th scope="col">Username</th>
					<th scope="col">Score</th>
					<th scope="col">Opponent</th>
				</tr>
			</thead>
			<tbody id="pongTableContent"></tbody>
		</table>

		<h1 class="mt-5">Comments</h2>
		<ul id="commentsBlock" class="comment-list ms-4 me-4 mt-4">
		</ul>
		{% comment %} <button class="btn btn-primary mt-4" id="test" onclick=postComment()>Post Comment</button> {% endcomment %}
	</div>
</div>
