<div class="settingsPage neon-border">
	<div class="profileInfo">
		<img id="bigProfilePicture" src="{{ profile_pic }}" width="300" height="300" class="rounded-circle" onerror="this.onerror=null; this.src='/media/default.jpg';">
		<br>
		<form id="profile-form">
			<input type="file" id="profile-picture" name="profile_picture" accept="image/*" required>
			<button type="submit">Upload</button>
			<p id="uploadError"></p>
		</form>
		<br>
		<a id="removeProfilePicture" onclick="removeProfilePic()">Remove Profile Picture</a>
	</div>
	<div class="profileStats">
		<div class="settingBlock">
			<h3>Your Motto</h3>
			<input class="ms-3 mt-2 mb-3 form-control w-50" type="text" id="motto" name="motto" placeholder="Your motto" value="{{ motto }}" required>
			<button class="ms-3 settingsUpdateButton" onclick="update()">Update</button>
		</div>
		<div class="settingBlock mt-3">
			<h3>Change password</h3>
			<form id="change-password-form" onsubmit="updatePassword(event)">
				<input class="ms-3 mt-2 mb-1 form-control w-50" name="password" type="password" id="old-password" placeholder="Old password" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
				<input class="ms-3 mb-1 form-control w-50" name="password" type="password" id="new-password" placeholder="New password" required>
				<input class="ms-3 mb-3 form-control w-50" name="password" type="password" id="new-password-confirmation" placeholder="Confirm new password" required>
				<p class="ms-3" id="changePasswordError"></p>
				<button class="ms-3" type="submit">Change</button>
			</form>
		</div>
		<div class="settingBlock mt-3 d-flex align-items-center justify-content-start">
			<h3 class="mb-0 me-3">Two-factor authentication</h3>
			<div class="form-check form-switch ms-3">
				<input class="form-check-input settingsSwitch" type="checkbox" role="switch" id="settings2fa">
			</div>
		</div>
		<div class="settingBlock mt-3">
			<h3>Allow comments on your profile</h3>
			<div class="mt-2 ms-3 form-check">
				<input class="form-check-input" name="allowComments" type="radio" id="settingsComments1" value="anyone" checked> {% comment %} aaaaaaaaa {% endcomment %}
				<label class="form-check-label" for="settingsComments1">
					From anyone
				</label>
			</div>
			<div class="ms-3 form-check">
				<input class="form-check-input" name="allowComments" type="radio" id="settingsComments2" value="friends">
				<label class="form-check-label" for="settingsComments2">
					From friends only
				</label>
			</div>
			<div class="ms-3 form-check">
				<input class="form-check-input" name="allowComments" type="radio" id="settingsComments3" value="no_one">
				<label class="form-check-label" for="settingsComments3">
					Don't allow
				</label>
			</div>
			<button class="mt-3 ms-3" id="applyCommentSettings" onclick="applyCommentSettings()">Apply</button>
		</div>
		<div class="settingBlock mt-3 d-flex align-items-center justify-content-start">
			<h3 class="mb-0 me-3">Allow people to invite you to a tournament</h3>
			<div class="form-check form-switch ms-3">
				<input class="form-check-input settingsSwitch" type="checkbox" role="switch" id="settingsInviteSwitch">
			</div>
		</div>
		<div class="settingBlock mt-3">
			<h3>Reset stats</h3>
			<button class="ms-3" id="resetStats" onclick="resetStats()">Reset</button>
		</div>
		<div class="settingBlock mt-3">
			<h3>Delete account</h3>
			<button class="ms-3" id="deleteAccount" onclick="deleteAccount()">Delete</button>
		</div>
	</div>
</div>

{% comment %}
profile picture 
change password
2fa
reset stats
user motto
allow/deny comments on profile + allow/deny from unfriended users
delete account
maybe associated 42?
allow/deny people to invite them to a tournament
{% endcomment %}
