<div class="profilePage neon-border">
	<div class="profileInfo">
		<h1>Greetings, {{ username }}!</h1>
		<img id="bigProfilePicture" src="{{ profile_pic }}" width="300" height="300" class="rounded-circle" onerror="this.onerror=null; this.src='/media/default.jpg';">
	</div>
	<div class="profileStats">
		<div class="statsCharts d-flex justify-content-center ms-4 me-4">
			<div class="wrapper me-3">
				<canvas id="chart1"></canvas>
			</div>
			<div class="wrapper">
				<canvas id="chart2"></canvas>
			</div>
		</div>
	</div>
</div>
