<div id="tally">0 - 0</div>
<div id="canvasContainer">
	<canvas id="gameCanvas"></canvas>
</div>

<div id="debug">
	<strong>debug stuff</strong><br>
	<button id="gameResetButton">reset</button>

	<input id="colorPickerBackground" type="color">
	<input id="colorPickerPlayer1" type="color">
	<input id="colorPickerPlayer2" type="color">
	<input id="colorPickerBall" type="color">
	
	target score:<input id="targetScore" type="number">
	initial speed:<input id="initialSpeed" type="number">
	speed increase:<input id="speedIncrease" type="number">
</div>

<script>
	alert("game.html");
</script>
