<!-- Header -->
<div id="header">
	<div class="d-flex justify-content-end align-items-center">
		<div id="notificationButton" class="me-3">
			<a href="" class="d-flex justify-content-end align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				<div class="d-inline-block ">
					<i class="fa fa-bell" style="color:black"></i>
				</div>
				
			</a>
			<ul class="dropdown-menu dropdown-menu-end" id="notificationList" style="display:flex;">
				<li>
					<div class="noticationInfo">
						<p>sdjkfsifbis</p>
						<button class="btn notificationButton" onclick="">
							<i class="fa fa-home"></i>Add Friend
						</button>
					</div>
				</li>
				{% comment %} <li><a class="dropdown-item text-white" onclick="goToFriends()">Friends</a></li>
				<li><a class="dropdown-item text-white" onclick="goToSettings()">Settings</a></li> {% endcomment %}
			</ul>
		</div>
		<div class="dropdown">
			<a href="" class="d-flex justify-content-end align-items-center link-body-emphasis text-decoration-none dropdown-toggle" id="dropdownClicker" data-bs-toggle="dropdown" aria-expanded="false">
				<div class="d-inline-block me-2">
					<p id="username" class="m-0">{{ username }}</p>
				</div>
				<div class="d-inline-block">
					<img id="smallProfilePicture" src="{{ profile_pic }}" width="42" height="42" class="rounded-circle" onerror="this.onerror=null; this.src='/media/default.jpg';">
				</div>
			</a>
			<ul class="dropdown-menu dropdown-menu-end">
				<li><a class="dropdown-item text-white" onclick="goToProfile()">Profile</a></li>
				<li><a class="dropdown-item text-white" onclick="goToFriends()">Friends</a></li>
				<li><a class="dropdown-item text-white" onclick="goToSettings()">Settings</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item text-white" onclick="signOut()">Sign out</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- Home Button -->

<div id="home-text" onclick="goHome()">
	<a>ft_transcendence</a>
</div>

<!-- Collapsible button -->
<button id="chatButton" onclick="toggleChatWindow()"> Toggle Window <i class="fas fa-chevron-up"></i></button>
<div class="chatContent showFriendsOnly">
	<div id="chatHeader"></div>
	<div id="chatFriendsList">
		<h5>Friends</h5>
		<div class="input-group rounded mb-3">
			<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"></input>
			<span class="input-group-text border-0" id="search-addon">
				<i class="fas fa-search"></i>
			</span>
		</div>
		<div class="scrollableFriends">
			<div data-mdb-perfect-scrollbar-init style="position: relative; height: 350px">
				<ul id="chatFriendsListContent" class="list-unstyled mb-0">
				</ul>
			</div>
		</div>
	</div>
	<div id="chatWindow" class="chatWindow noChatClicked">
		<div class="card-header d-flex justify-content-between align-items-center p-2">
			<h5 class="mb-0">Chat</h5>
			<div id="chatUpperCornerButtons">
				<button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-sm" data-mdb-ripple-color="dark">Go to Profile</button>
				<button type="button" class="blockButtonClass btn btn-sm btn-outline-danger"> <i class="fa fa-ban"></i></button>
			</div>
		</div>
		<div class="scrollableTexts">
			<div id="textsContainer" class="pt-2" data-mdb-perfect-scrollbar-init style="position: relative; height: 360px">
			</div>
		</div>
		<div class="text-muted d-flex justify-content-start align-items-center pt-3">
			<input type="text" class="form-control form-control-md" id="sendMessageInput" placeholder="Type message"></input>
			<a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
			<a class="sendMessageButton ms-3" href="#"><i class="fas fa-paper-plane"></i></a>
		</div>
	</div>
</div>

<!-- Footer -->
<footer>
	<div>
		© 2024 ft_transcendence
	</div>
</footer>
