<!-- Header -->
<div id="header">
	<div class="d-flex justify-content-end align-items-center">
		<div id="notificationButton" class="me-3">
			<a href="" class="d-flex justify-content-end align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				<div class="d-inline-block ">
					<i class="fa fa-bell" style="color:black"></i>
				</div>
			</a>
			<ul class="dropdown-menu dropdown-menu-end" id="notificationList">
				<h6 class="text-white ms-3">Pending Invitations</h6>
				<li><hr class="dropdown-divider"></li>
				{% comment %} <li class="dropdown-item text-white d-flex justify-content-between align-items-center">
					<p class="m-0 me-2">user1</p>
					<div class="d-flex justify-content-end">
						<p class="btn notificationButton m-0 me-1" onclick="goToProfile()" style="padding: 0px;">
							<i class="fa fa-check-square icon-confirm" style="font-size:25px;"></i>
						</p>
						<p class="btn notificationButton m-0" onclick="goToProfile()" style="padding: 0px;">
							<i class="fa fa-window-close icon-deny" style="font-size:25px;"></i>
						</p>
					</div>
				</li>
				<li class="dropdown-item text-white d-flex justify-content-between align-items-center">
					<p class="m-0 me-2">user1</p>
					<div class="d-flex justify-content-end">
						<p class="btn notificationButton m-0 me-1" onclick="goToProfile()" style="padding: 0px;">
							<i class="fa fa-check-square icon-confirm" style="font-size:25px;"></i>
						</p>
						<p class="btn notificationButton m-0" onclick="goToProfile()" style="padding: 0px;">
							<i class="fa fa-window-close icon-deny" style="font-size:25px;"></i>
						</p>
					</div>
				</li> {% endcomment %}
			</ul>
		</div>
		<div class="dropdown">
			<a href="" class="d-flex justify-content-end align-items-center link-body-emphasis text-decoration-none dropdown-toggle" id="dropdownClicker" data-bs-toggle="dropdown" aria-expanded="false">
				<div class="d-inline-block me-2">
					<p id="username" class="m-0">{{ username }}</p>
				</div>
				<div class="d-inline-block">
					<img id="smallProfilePicture" src="{{ profile_pic }}" width="42" height="42" class="rounded-circle" onerror="this.onerror=null; this.src='/media/default.jpg';">
				</div>
			</a>
			<ul class="dropdown-menu dropdown-menu-end">
				<li><a class="dropdown-item text-white" onclick="goToProfile()">Profile</a></li>
				<li><a class="dropdown-item text-white" onclick="goToFriends()">Friends</a></li>
				<li><a class="dropdown-item text-white" onclick="goToSettings()">Settings</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item text-white" onclick="signOut()">Sign out</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- Home Button -->

<div id="home-text" onclick="goHome()">
	<a>ft_transcendence</a>
</div>
