<div class="buttonGroup btn-group-vertical">
	<div class="pongMenuButton neon-border btn" onclick="loadQuickplay()">
		<h1>QUICKPLAY</h1>
		<p>PLAY LOCALLY WITH A FRIEND</p>
	</div>
	<div class="pongMenuButton neon-border btn" onclick="loadTournament()">
		<h1>TOURNAMENT</h1>
		<p>MATCH WITH SEVERAL PLAYERS IN A TOURNAMENT</p>
	</div>
	<div class="pongMenuButton neon-border btn" onclick="loadCustomGame()">
		<h1>CUSTOM GAME</h1>
		<p>SETUP A GAME WITH CUSTOM RULES</p>
	</div>
	<div class="pongMenuButton neon-border btn" onclick="loadRoomList()">
		<h1>ROOM LIST</h1>
		<p>JOIN CUSTOM GAME</p>
	</div>
</div>
