<div class="buttonGroup btn-group-vertical">
	<div class="pongMenuButton neon-border btn" onclick="loadPongTournamentLocal()">
		<h1 id="tlPongTounamentLocal">LOCAL TOURNAMENT</h1>
		<p id="tlPongTounamentLocalDesc">RUN A LOCAL TOURNAMENT</p>
	</div>
	<div class="pongMenuButton neon-border btn" onclick="loadPongTournamentRemote()">
		<h1 id="tlPongTounamentOnline">ONLINE TOURNAMENT</h1>
		<p id="tlPongTounamentOnlineDesc">PLAY AN ONLINE TOURNAMENT AGAINST RANDOM PLAYERS</p>
	</div>
	<!-- <div class="pongMenuButton neon-border btn" onclick="loadPongTournamentCustom()">
		<h1>CREATE CUSTOM TOURNAMENT</h1>
		<p>CREATE A TOURNAMENT WITH CUSTOM RULES</p>
	</div>
	<div class="pongMenuButton neon-border btn" onclick="loadPongTournamentRoomList()">
		<h1>BROWSE CUSTOM TOURNAMENTS</h1>
		<p>BROWSE AND JOIN EXISTING CUSTOM TOURNAMENTS</p>
	</div> -->
</div>
