<div class="buttonGroup btn-group-vertical">
	<div class="pongMenuButton neon-border btn" onclick="loadTournamentPong()">
		<h1>QUICKPLAY</h1>
		<p>JOIN AN ONLINE TOURNAMENT</p>
	</div>
	<div class="pongMenuButton neon-border btn" onclick="loadCustomPong()">
		<h1>CREATE CUSTOM TOURNAMENT</h1>
		<p>CREATE A TOURNAMENT WITH CUSTOM RULES</p>
	</div>
	<div class="pongMenuButton neon-border btn" onclick="loadRoomListPong()">
		<h1>BROWSE CUSTOM TOURNAMENTS</h1>
		<p>BROWSE AND JOIN EXISTING CUSTOM TOURNAMENTS</p>
	</div>
</div>
