<div class="d-flex flex-column justify-content-center align-items-center" style="height: 70vh;">
	<h1 class="mb-4" id="matchmaking-title">LOOKING FOR PLAYERS</h1>
	<div>
		<div class="spinner-grow text-light" role="status" style="animation-delay: 0s;"></div>
		<div class="spinner-grow text-light" role="status" style="animation-delay: 0.15s;"></div>
		<div class="spinner-grow text-light" role="status" style="animation-delay: 0.25s;"></div>
		<div class="spinner-grow text-light" role="status" style="animation-delay: 0.35s;"></div>
		<div class="spinner-grow text-light" role="status" style="animation-delay: 0.45s;"></div>
	</div>
</div>
