<div id="tournamentAlert" class="hide">It's your turn to play. Good luck!</div>

<div id="canvasContainer">
	<canvas id="gameCanvas"></canvas>
</div>

<div id="tournamentMap"></div>
<button id="tournamentMapToggleButton" class="hide" onclick="tournamentMapToggle()">Tournament Map</button>

{% comment %} <div id="debug">
	<strong>debug stuff</strong><br>
	<button id="gameResetButton">reset</button>

	player1 AI:<select id="player1AI">
		<option value="human">Human</option>
		<option value="cpu">CPU</option>
	</select>
	player2 AI:<select id="player2AI">
		<option value="human">Human</option>
		<option value="cpu">CPU</option>
	</select>
	<input id="colorPickerBackground" type="color">
	<input id="colorPickerPlayer1" type="color">
	<input id="colorPickerPlayer2" type="color">
	<input id="colorPickerBall" type="color">

	<button id="speedModButton">speed mod</button>
	<button id="heightModButton">height mod</button>
	
	target score:<input id="targetScore" type="number">
	initial speed:<input id="initialSpeed" type="number">
	speed increase:<input id="speedIncrease" type="number">
</div> {% endcomment %}
