<div class="buttonGroup btn-group-vertical">
	<div class="pongMenuButton neon-border btn" onclick="loadLocalPong()">
		<h1 id="tlQuickplayLocal">LOCAL DUEL</h1>
		<p id="tlQuickplayLocalDesc">PLAY LOCALLY WITH A FRIEND</p>
	</div>
	<div class="pongMenuButton neon-border btn" onclick="loadRemotePong()">
		<h1 id="tlQuickplayOnline">ONLINE DUEL</h1>
		<p id="tlQuickplayOnlineDesc">PLAY ONLINE AGAINST A RANDOM PLAYER</p>
	</div>
	<div class="pongMenuButton neon-border btn" onclick="loadLocalPongAI()">
		<h1 id="tlQuickplayAi">AI MATCH</h1>
		<p id="tlQuickplayAiDesc">PLAY AGAINST AN AI OPPONENT</p>
	</div>
	<div class="pongMenuButton neon-border btn" onclick="loadCustomPong()">
		<h1 id="tlQuickplayCustom">CREATE CUSTOM GAME</h1>
		<p id="tlQuickplayCustomDesc">CREATE A GAME WITH CUSTOM RULES</p>
	</div>
	<!-- <div class="pongMenuButton neon-border btn" onclick="loadRoomListPong()">
		<h1>BROWSE CUSTOM GAMES</h1>
		<p>BROWSE AND JOIN EXISTING CUSTOM GAMES</p>
	</div> -->
</div>
