{% load static %}
<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPA Example</title>
    <script src="{% static 'js/test.js' %}" defer></script>
</head>
<body>
    <nav>
        <a href="/home" class="nav-link" data-url="/home/">Home</a>
        <a href="/about/" class="nav-link" data-url="/about/">About</a>
        <a href="/contact/" class="nav-link" data-url="/contact/">Contact</a>
    </nav>
    <div id="content" >

        <!-- Initial content can be loaded here -->
    </div>
</body>
</html>
