<div class="friendsPage neon-border">
	<div class="friendsList">
		<h1>Friends</h1>
		<ul>
			<li class="friendUser">
				<img src="" width="50" height="50" class="rounded-circle" onerror="this.onerror=null; this.src='/media/profile_pics/default.jpg';">
				<p>meuusername</p>
			</li>
			<li class="friendUser">
				<img src="" width="50" height="50" class="rounded-circle" onerror="this.onerror=null; this.src='/media/profile_pics/default.jpg';">
				<p>meuusername</p>
			</li>
			<li class="friendUser">
				<img src="" width="50" height="50" class="rounded-circle" onerror="this.onerror=null; this.src='/media/profile_pics/default.jpg';">
				<p>meuusername</p>
			</li>
			<li class="friendUser">
				<img src="" width="50" height="50" class="rounded-circle" onerror="this.onerror=null; this.src='/media/profile_pics/default.jpg';">
				<p>meuusername</p>
			</li>
			<li class="friendUser">
				<img src="" width="50" height="50" class="rounded-circle" onerror="this.onerror=null; this.src='/media/profile_pics/default.jpg';">
				<p>meuusername</p>
			</li>
			<li class="friendUser">
				<img src="" width="50" height="50" class="rounded-circle" onerror="this.onerror=null; this.src='/media/profile_pics/default.jpg';">
				<p>meuusername</p>
			</li>
			<li class="friendUser">
				<img src="" width="50" height="50" class="rounded-circle" onerror="this.onerror=null; this.src='/media/profile_pics/default.jpg';">
				<p>meuusername</p>
			</li>
		</ul>
	</div>
	<div class="friendsSearch">
		<div id="friendsSearchBar">
			<div class="input-group rounded">
				<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
				<span class="input-group-text border-0" id="search-addon">
				  <i class="fas fa-search"></i>
				</span>
			  </div>
		</div>
		<div id="friendsSearchResults">
		</div>
	</div>
</div>
