<div id="header">
	<div class="dropdown text-end">
		<a href="" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			<img src="{{ profile_pic }}" width="42" height="42" class="rounded-circle" onerror="this.onerror=null; this.src='/media/profile_pics/default.jpg';">
		</a>
		<ul class="dropdown-menu dropdown-menu-end">
			<li><a class="dropdown-item text-white" onclick="goToProfile()">Profile</a></li>
			<li><a class="dropdown-item text-white" onclick="goToFriends()">Friends</a></li>
			<li><a class="dropdown-item text-white" onclick="goToSettings()">Settings</a></li>
		<li><hr class="dropdown-divider"></li>
		<li><a class="dropdown-item text-white" onclick="signOut()">Sign out</a></li>
		</ul>
	</div>
</div>

<div id="home-text" onclick="goHome()">
	<a>ft_transcendence</a>
</div>

<footer>
	<div>
		© 2024 ft_transcendence
	</div>
</footer>
