.profilePage {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px;
	justify-content: center;
	align-items: flex-start;
	width: 75%;
	box-sizing: border-box;
	margin: 50px auto;
	min-width: 745px;
}

.profileInfo{
	flex: 1;
	color: white;
	text-align: center;
	padding: 20px;
}

.profileStats {
	flex: 2;
	padding: 20px;
	padding-right: 0px;
	color: white;
	border-left: 2px solid rgb(255, 255, 255);
	min-height: 420px;
}

#bigProfilePicture {
	max-width: 80%;
	height: auto;
	margin-bottom: 20px;
}

.wrapper{
	width:50%;
	display:block;
	overflow:hidden;
	border-radius:4px;
	border: 1px solid #ccc;
}

#chart1, #chart2 {
	margin-top: 10px;
}

