#cookieconsent .modal-content {
    background-color: rgb(43, 43, 43);
}

#cookieconsent .modal-body {
    color: #ffffff;
}

#cookieconsent .modal-header {
    background-color: rgba(56, 139, 233, 0.5);
    color: #ffffff;
}

.hiddenChat {
	display: none;
}

#chatButton {
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    width: 25%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    left: 10px;
}

.chatContent {
    display: none;
    position: absolute;
    bottom: 55px;
    left: 10px;
    width: 775px;
    background-color: rgb(155, 210, 214);
    border-radius: 5px;
    z-index: 1000;
    padding: 10px;
    height: 500px;
}

.showChat {
    display: flex;
    justify-content: space-between;
}

#chatFriendsList {
    flex: 4;
    margin: 20px;
}

#chatFriendsList h5 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 15px;
}

#chatWindow {
    flex: 5;
    padding: 10px;
}

.scrollableTexts {
    height: 360px;
    overflow-y: scroll;
    border-top: 1px solid black;
}

.scrollableFriends {
    height: 440px;
    overflow-y: scroll;
}

.noChatClicked{
    display: none;
}

.showFriendsOnly {
    width: 370px;
}

.setDarkerBackground {
    background: rgb(98, 159, 167);
}

.smallerText {
    font-size: 10px;
    font-style: italic;
    text-align: right;
}
