#cookieconsent .modal-content {
    background-color: rgb(43, 43, 43);
}

#cookieconsent .modal-body {
    color: #ffffff;
}

#cookieconsent .modal-header {
    background-color: rgba(56, 139, 233, 0.5);
    color: #ffffff;
}

.hiddenChat {
	display: none;
}

#chatButton {
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    width: 25%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    left: 10px;
}

.chatContent {
    display: none;
    position: fixed;
    bottom: 55px;
    left: 10px;
    width: 775px;
    background-color: rgba(6, 8, 9, 0.98);
    color: white;
    border-radius: 25px;
    z-index: 1001;
    padding: 10px;
    height: 500px;
    border: 1px solid #cce0e3;
    box-shadow: 0 0 5px rgb(179, 214, 255), 0 0 1px rgba(179, 214, 255, 0.5);
}

.showChat {
    display: flex;
    justify-content: space-between;
}

#chatFriendsList {
    flex: 4;
    padding: 20px;
}

#chatFriendsList h5 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 15px;
}

#chatFriendsListContent a {
    color: white;
    text-decoration: none;
}

.smallMessage {
    font-size: 13px;
    color: rgb(172, 172, 172);
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.smallTime {
    font-size: 10px;
    font-style: italic;
    color: rgb(172, 172, 172);
}

#chatWindow {
    flex: 5;
    padding: 10px;
    border-left: 1px solid rgb(255, 255, 255);
}

.scrollableTexts {
    height: 360px;
    overflow-y: scroll;
    border-top: 1px solid rgb(255, 255, 255);
}

.scrollableFriends {
    height: 440px;
    overflow-y: scroll;
}

.noChatClicked{
    display: none;
}

.showFriendsOnly {
    width: 370px;
}

.setDarkerBackground {
    background: rgb(43, 43, 43);
}

.smallerText {
    font-size: 10px;
    font-style: italic;
    text-align: right;
    color: white;
}

.messageText {
    word-wrap: break-word;
    max-width: 335px;
}

.emojiPicker {
    position: absolute;
    bottom: 115px;
    left: 720px;
    background-color: rgba(34, 34, 34, 0.9);
    border: 1px solid #222121;
    border-radius: 5px;
    padding: 2px;
    z-index: 1001;
}

.fa-smile {
    color: #5c5454;
}

.fa-smile:hover, .fa-paper-plane:hover {
    cursor: pointer;
}

.emoji {
    font-size: 15px;
    border: none;
    background: none;
    padding: 5px;
    cursor: pointer;
}

.emoji:hover {
    background-color: #f0f0f0;
}

.hideEmojis {
    display: none;
}

#content {
    padding-top: 50px;
}

.online-indicator {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #28a745; /* Bootstrap green color */
    border: 0.5px solid white; /* Matches the background of the avatar */
    border-radius: 50%;
    bottom: 15px;
    right: 2px;
}
