.profilePage {
	border: 2px solid #ccc;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 1500px;
	margin: 0 auto;
	text-align: left;
	border-radius: 10px;
	top: 50px;
	position: relative;
	display: flex; /* Makes the content flow in a row (two columns) */
	justify-content: space-between; /* Ensures space between the two columns */
}

.profileInfo{
	color: white;
	border-right: 2px solid rgb(255, 255, 255);
	text-align: center;
	flex: 1; /* Equal width for both columns */
	padding: 20px;
}

.profileStats {
	flex: 2; /* Equal width for both columns */
	padding: 20px;
}

.profileStats {
	color: white;
}
