.friendsPage {
	border: 2px solid #ccc;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 1500px;
	margin: 0 auto;
	text-align: left;
	border-radius: 10px;
	top: 50px;
	position: relative;
	display: flex; /* Makes the content flow in a row (two columns) */
	justify-content: space-between; /* Ensures space between the two columns */
}

.friendsList{
	color: white;
	border-right: 2px solid rgb(255, 255, 255);
	text-align: center;
	flex: 1; /* Equal width for both columns */
	padding: 20px;
	padding-right: 40px;
}

.friendsList h1 {
	margin-bottom: 0px;
}

.friendsPage ul{
	list-style: none;
	margin-left: 0;         /* Removes the default space (indentation) */
	padding-left: 0;
	margin-top: 50px;
}

.friendsSearch {
	flex: 2; /* Equal width for both columns */
	padding: 20px 50px 20px 50px;
	color: white;
}

.friendUser {
	display: flex;
	margin-bottom: 2px;
	border: 2px solid #ccc;
}

.userResult {
	display: flex;
	margin-bottom: 2px;
	border: 2px solid #ccc;
}

#friendsSearchBar {
	height: 48px;
}
