.profilePage {
	border: 2px solid #ccc;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 1500px;
	margin: 0 auto;
	text-align: left;
	border-radius: 10px;
	top: 50px;
	position: relative;
	display: flex; /* Makes the content flow in a row (two columns) */
	justify-content: space-between; /* Ensures space between the two columns */
}

#profile-form {
	display: inline-block;
	margin-top: 25px;
	width: 500px;
}

#profile-picture {
	width: 300px;
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
}

.profileInfo{
	color: white;
	border-right: 2px solid rgb(255, 255, 255);
	text-align: center;
	flex: 1; /* Equal width for both columns */
	padding: 20px;
}

.profileStats {
	flex: 2; /* Equal width for both columns */
	padding: 20px;
	color: white;
}

#removeProfilePicture {
	cursor: pointer;
	text-decoration: underline; /* Optional, adds underline */
	color: rgb(114, 165, 241); /* Optional, typical link color */
}
