body {
    background-color:rgb(0, 0, 0);
    overflow: hidden;
}

.hide {
    display: none;
}

.backgroundGIF-container {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.backgroundGIF-container img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    /*transform: scale(1.5);*/
}

.blur {
    filter: blur(5px);
}

#backgroundVideo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.landing-page {
	position: absolute;
    width: 100%;
    height: 100%;
}

#title-container {
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
	user-select: none;
    font-size: 100px;
    transition: all 1s ease;
}

#title-container.shrink {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    font-style: italic;
    font-size: 30px;
}

@keyframes title-blink {
	0%   {color: red;}
	100% {color: white;}
}

@keyframes title-grow {
	0%   {font-size:0px;}
	100% {font-size:100px;}
}

@keyframes title-rotate {
	100% {transform:rotate(360deg);}
}

/*
animation:	<animation-name>
			<animation-duration>
			<animation-timing-function>
			<animation-delay>
			<animation-iteration-count>
			<animation-direction>
			<animation-fill-mode>
			<animation-play-state>;
*/

#title-text {
	font-family: 'Courier New', Courier, monospace;
	/*font-size:100px;*/
	color: white;
	text-align: center;

	animation:	title-grow ease-in 1s,
				title-rotate linear 0.2s 5,
				title-blink 0.1s 1s 5;
}

@keyframes button-fade {
	0% {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
	100% {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
}

.button-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    animation: button-fade 1s ease-in 0.5s forwards;
}

.btn-custom {
    font-size: 1.5rem;
    padding: 0.5rem 5rem;
    border: none;
    transition: background-color 0.1s ease, transform 0.1s ease;
}

.btn-gradient {
    background: linear-gradient(45deg, #000000, #091e4b);
    box-shadow: 0 1px 20px rgba(255, 255, 255, 0.3);
    color: white;
}

.btn-gradient:hover {
    transform: scale(1.2);
    background: linear-gradient(45deg, #12295a, #000000);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.5);
    color: white;
}

.loginRegisterContent {
    background-color: rgba(0, 0, 0, 0.1); /* Transparent black */
    backdrop-filter: blur(10px); /* Blurring the background */
    border: none; /* Remove default border */
}

.neon-border {
    border: 2px solid rgb(179, 214, 255); /* Solid blue border */
    box-shadow: 0 0 10px rgba(179, 214, 255, 1), 0 0 20px rgba(179, 214, 255, 0.5); /* Neon glow effect */
    border-radius: 10px; /* Optional: Add rounded corners */
}

.loginRegisterText {
    color: white;
    font-size: 1rem;
}

.inactive-tab {
    background-color: transparent; /* No background color for inactive tab */
    border: 2px solid white; /* White border for inactive tab */
    color: white; /* Text color for inactive tab */
}

.nav-tabs .nav-link.active {
    background-color: #4a7aad; /* Active tab background color */
    color: white; /* Active tab text color */
    border-color: #4a7aad; /* Match border color with background */
}

#registerError {
    color: red;
}

#loginError {
    color: red;
}

.code-input {
    width: 50px; /* Make the input fields small */
    height: 50px; /* Square shape */
    text-align: center; /* Center the input */
    font-size: 24px; /* Larger font for the numbers */
    margin-right: 10px; /* Add some space between the boxes */
    border-radius: 10px; /* Add slight rounding */
}

.code-input:last-child {
    margin-right: 0; /* Remove right margin from the last input box */
}

.code-input:focus {
    outline: none; /* Remove default outline */
    border: 2px solid rgb(105, 133, 167); /* Solid blue border */
    box-shadow: 0 0 5px rgba(179, 214, 255, 1), 0 0 5px rgba(179, 214, 255, 0.5);
}

#qrCodeContainer {
    display: flex;
    justify-content: center; /* Center the QR code */
    align-items: center; /* Align it vertically */
}

#qrCodeContainer img {
    width: 250px; /* Make the QR code larger */
    height: 250px; /* Maintain square aspect ratio */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Optional: Add shadow for a nice effect */
}

#cookieconsent .modal-content {
    background-color: rgb(43, 43, 43);
}

#cookieconsent .modal-body {
    color: #ffffff;
}

#cookieconsent .modal-header {
    background-color: rgba(56, 139, 233, 0.5);
    color: #ffffff;
}
