#header{
	background-color: #333;
	color: #fff;
	padding: 1px;
	text-align: center;
	padding-left: 85%;
	padding-bottom: 6px;
	height: 50px;
	position: sticky;
    z-index: 1000;
}

.dropdown {
    border : 1px solid #ff0000;
}

.dropdown-divider {
    border-color: #fff;
}

.dropdown-item:hover {
    background-color: #226b8d;
}

.dropdown:hover {
    transform: translateX(-10px);
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.6);
}

#home-text {
    top: 0;
    left: 0;
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 30px;
    color: white;
    cursor: pointer;          /* Make the entire div clickable */
    padding: 1.7px;            /* Add padding to the div */
    padding-right: 10px;       /* Add padding to the right */
    background-color: #7a3636; /* Optional: Add a background for visibility */
    display: inline-block;    /* Ensure the div is treated as a block element */
    transition: padding-right 0.1s ease;
    z-index: 1001;
}

#home-text a {
    display: block;           /* Make the link cover the entire div */
    height: 100%;             /* Ensure the link covers the full height */
    width: 100%;              /* Ensure the link covers the full width */
    text-decoration: none;    /* Optional: Remove underline from the text */
    transition: transform 0.3s ease;
}

#home-text:hover {
    transform: translateX(10px);
}

footer {
    background-color: #4e0000; /* Optional: Keep or remove */
    color: #fff;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
	height: 30px;
    z-index: 5;
}
